<%= form_for @picture do |f| %>
<p>
  <%= f.label :content %>
  <%= f.text_field :content %>
</p>
  <p>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.submit 'Add picture' %>
  </p>
<% end %>

<%= @pictures.each do |picture| %>
<ul>
  <li>
    <%= picture.content %>, <%= picture.size %>
  </li>
</ul>
<% end %>